* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  font-family: Arial;
}

body {
  background: #222736;
  position: relative;
  min-height: 150vh;

  .aside {
    display: block;
    width: 250px;
    position: fixed;
    left: 0;
    height: 100vh;
    background: #2e3342;
    z-index: 7;

    .logo {
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        color: #aaa;
        font-size: 30px;
      }
    }

    .links {
      width: 100%;
      height: calc(100% - 10vh);
      padding-top: 30px;

      a {
        text-decoration: none;
        display: block;
        color: #aaa;
        padding: 14px 12px;
        word-break: keep-all;

        i {
          font-size: 20px;
        }

        span {
          color: #ccc;
          font-size: 14px;
          font-weight: 600;

          &:hover {
            color: #fff;
          }
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .aside.active {
    display: block;
    width: 75px;

    .links {
      width: 100%;
      height: calc(100% - 10vh);
      padding-top: 30px;

      a {
        text-align: center;
        display: block;
        color: #ccc;

        i {
          font-size: 1.3rem;
        }

        span {
          display: none;
        }
      }
    }
  }

  main {
    margin-left: 250px;
    width: calc(100% - 250px);

    #header {
      width: 100%;
      height: 10vh;
      background: #262b3c;
      display: flex;
      justify-content: space-between;

      #navbar {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          padding: 1rem;
          color: #ccc;
          font-size: 1.1rem;

          &:hover {
            color: #fff;
          }
        }
      }

      .other-nav {
        height: 100% !important;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .country-flag {
          width: 35px;
          height: 35px;
          margin: 0px 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .user-icon {
          width: 35px;
          height: 35px;
          margin: 10px;
          border: 3px solid #1d2230;
          border-radius: 50px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        > a {
          text-decoration: none;
          color: #ccc;
          margin: 0px 10px;
        }
      }
    }

    #header.active {
      width: calc(100% - 250px);
      position: fixed;
      top: 0;
      z-index: 3;
      transition: 0s ease-in-out;
    }
  }

  main.aside-active {
    margin-left: 75px;
    width: calc(100% - 75px);

    #header.active {
      width: calc(100% - 75px);
      position: fixed;
      top: 0;
      z-index: 3;
      transition: 0s ease-in-out;
    }
  }
}

// Media queries on max width of 700px
@media (max-width: 700px) {
  body {
    main {
      margin-left: 0px;
      width: calc(100% - 0px);

      #header.active {
        width: calc(100% - 0px);
        transition: 0s ease-in-out;
      }
    }

    main.aside-active {
      margin-left: 75px;
      width: calc(100% - 75px);

      #header.active {
        width: calc(100% - 75px);
        transition: 0s ease-in-out;
      }
    }

    .aside {
      display: block;
      width: 0px;
      overflow: hidden;

      .links {
        a {
          text-align: center;
          span {
            display: none;
          }
        }
      }
    }

    .aside.active {
      display: block;
      width: 75px;

      .links {
        a {
          text-align: center;
          span {
            display: none;
          }
        }
      }
    }
  }
}
