* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  font-family: Arial;
}

body {
  background: #222736;
  position: relative;
  min-height: 100vh;

  .aside {
    display: block;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #2e3342;
    z-index: 7;

    .logo {
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        color: #aaa;
        font-size: 30px;
      }
    }

    .links {
      width: 100%;
      height: calc(100% - 10vh);
      padding-top: 30px;

      a {
        text-decoration: none;
        display: block;
        color: #aaa;
        padding: 14px 12px;
        word-break: keep-all;

        i {
          font-size: 20px;
        }

        span {
          color: #ccc;
          font-size: 14px;
          font-weight: 600;

          &:hover {
            color: #fff;
          }
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .aside.active {
    display: block;
    width: 75px;

    .links {
      width: 100%;
      height: calc(100% - 10vh);
      padding-top: 30px;

      a {
        text-align: center;
        display: block;
        color: #ccc;

        i {
          font-size: 1.3rem;
        }

        span {
          display: none;
        }
      }
    }
  }

  main {
    margin-left: 250px;
    width: calc(100% - 250px);

    #header {
      width: 100%;
      height: 10vh;
      background: #262b3c;
      display: flex;
      justify-content: space-between;

      #navbar {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          padding: 1rem;
          color: #ccc;
          font-size: 1.1rem;

          &:hover {
            color: #fff;
          }
        }
      }

      .other-nav {
        height: 100% !important;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .country-flag {
          width: 35px;
          height: 35px;
          margin: 0px 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .user-icon {
          width: 35px;
          height: 35px;
          margin: 10px;
          border: 3px solid #1d2230;
          border-radius: 50px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        > a {
          text-decoration: none;
          color: #ccc;
          margin: 0px 10px;
        }
      }
    }

    .banner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 18px 14px;

      .first {
        font-size: 1.1rem;
        color: #eee;
      }

      .last {
        font-size: 0.9rem;
        color: #aaa;
      }
    }

    #header.active {
      width: calc(100% - 250px);
      position: fixed;
      top: 0;
      z-index: 3;
      transition: 0s ease-in-out;
    }

    .form-container {
      padding: 3px;
      width: 100%;
      display: block;

      form {
        max-width: 500px;
        border-radius: 5px;
        margin: 30px auto;
        padding: 1rem;
        display: block;
        // box-shadow: 1px 3px 6px #33394f;

        h3 {
          text-align: center;
          color: #184c6c;
          margin-bottom: 10px;
          font-size: 2rem;
        }

        > div {
          display: block;
          margin: 15px 0px;

          label {
            color: #aaa;
          }

          figure {
            width: 100%;
            display: flex;
            justify-content: center;
            img {
              max-width: 300px;
              height: 250px;
              margin: 18px 0px;
            }
          }

          input {
            display: block;
            width: 100%;
            padding: 10px 12px;
            margin-top: 10px;
            outline: none;
            background: #1f2230;
            border: none;
            color: #ccc;
          }

          #image-name {
            word-wrap: break-word;
            word-break: break-all;
          }

          label[for="product_img"] {
            margin-top: 10px;
            padding: 10px;
            border: 2px solid #eee;
            cursor: pointer;
          }
          input[type="file"] {
            display: none;
          }

          select {
            display: block;
            width: 100%;
            padding: 0.5rem;
            background: #1f2230;
            color: #fff;
            outline: none;
            border: none;
            margin-top: 10px;

            option {
              padding: 0.4rem !important;
            }
          }
        }

        button {
          margin-top: 10px;
          padding: 12px 14px;
          color: #fff;
          background: #024c69;
          border: 2px solid #024c69;
          cursor: pointer;
        }
      }
    }

    .products-container {
      width: 100%;
      display: block;
      padding: 1rem;

      .products {
        width: 100%;
        min-height: 40vh;
        display: flex;
        flex-wrap: wrap;

        .product {
          display: block;
          width: 300px;
          height: 400px;
          border-radius: 5px;
          box-shadow: 2px 2px 8px #161b27, -2px -2px 8px #161b27;
          margin: 15px 0px 15px 15px;

          .top {
            width: 300px;
            height: 200px;

            img {
              border-radius: 5px 5px 0px 0px;
              background-color: #fff;
              object-fit: auto;
            }
          }

          .bottom {
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
              margin-bottom: 10px !important;
              &:first-child {
                color: #fff;
                font-size: 1.2rem;
              }

              &:nth-child(2) {
                color: #ddd;
                font-size: 0.9rem;
              }

              &:last-child {
                color: #024c69;
                font-size: 1.1rem;
              }
            }

            a {
              margin-top: 10px !important;
              text-decoration: none;
              background: #245d535b;
              color: #fff;
              padding: 10px 12px;

              &:hover {
                background: #245d53;
              }
            }
          }
        }
      }

      .page-counter-container {
        padding: 1rem;
        border-top: solid 1px #ccc;
        margin: 10px 0px;

        strong {
          color: #bbb;
        }
      }
    }
  }

  main.aside-active {
    margin-left: 75px;
    width: calc(100% - 75px);

    #header.active {
      width: calc(100% - 75px);
      position: fixed;
      top: 0;
      z-index: 3;
      transition: 0s ease-in-out;
    }
  }
}

// Media queries on max width of 700px
@media (max-width: 700px) {
  body {
    main {
      margin-left: 0px;
      width: calc(100% - 0px);

      #header.active {
        width: calc(100% - 0px);
        transition: 0s ease-in-out;
      }
    }

    main.aside-active {
      margin-left: 75px;
      width: calc(100% - 75px);

      #header.active {
        width: calc(100% - 75px);
        transition: 0s ease-in-out;
      }
    }

    .aside {
      display: block;
      width: 0px;
      overflow: hidden;

      .links {
        a {
          text-align: center;
          span {
            display: none;
          }
        }
      }
    }

    .aside.active {
      display: block;
      width: 75px;

      .links {
        a {
          text-align: center;
          span {
            display: none;
          }
        }
      }
    }
  }
}
