* {
  box-sizing: border-box; }

.cart-container {
  inline-size: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-inline: 2rem; }
  .cart-container* {
    margin: 0;
    padding: 0; }
  .cart-container .cart-field {
    margin-block: 20px;
    width: clamp(350px, 68%, 1000px);
    box-shadow: 5px 3px 7px #bbb, -3px 5px 7px #bbb;
    border-radius: 3px;
    min-height: 20px; }
    .cart-container .cart-field .head {
      inline-size: 100%;
      background: #eee;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      padding: 0.7rem;
      border-radius: 3px 3px 0px 0px; }
    .cart-container .cart-field .cart-item {
      position: relative;
      inline-size: 100%;
      block-size: 250px;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 20px; }
      .cart-container .cart-field .cart-item:not(:last-child) {
        border-bottom: 2px dotted #ccc; }
      .cart-container .cart-field .cart-item img {
        width: 120px;
        height: 120px;
        object-fit: cover; }
      .cart-container .cart-field .cart-item .details {
        padding: 3px; }
        .cart-container .cart-field .cart-item .details h3 {
          font-weight: 700;
          font-size: 16px;
          color: #000;
          text-transform: uppercase; }
        .cart-container .cart-field .cart-item .details p {
          font-size: 14px;
          margin: 0px;
          text-transform: capitalize; }
          .cart-container .cart-field .cart-item .details p span {
            color: #222;
            font-weight: 600; }
          .cart-container .cart-field .cart-item .details p i {
            font-size: 16px; }
        .cart-container .cart-field .cart-item .details .actions {
          margin-block-start: 10px;
          display: flex;
          gap: 16px; }
          .cart-container .cart-field .cart-item .details .actions a {
            padding: 10px 14px;
            background: #ccc; }
            .cart-container .cart-field .cart-item .details .actions a:nth-child(1)::before {
              content: "Remove"; }
            .cart-container .cart-field .cart-item .details .actions a:nth-child(1) {
              color: #fff;
              background: #ff4646; }
            .cart-container .cart-field .cart-item .details .actions a:nth-child(2)::before {
              content: "Edit"; }
            .cart-container .cart-field .cart-item .details .actions a:nth-child(2) {
              color: #fff;
              background: #46ff46; }
      .cart-container .cart-field .cart-item p.price {
        position: absolute;
        top: 5px;
        right: 15px;
        color: red;
        font-weight: 550; }
  .cart-container .cart-summary {
    inline-size: 350px;
    height: 450px;
    background: #01173d;
    box-shadow: 5px 3px 7px #02296b;
    border-radius: 3px;
    margin-block: 20px; }
    .cart-container .cart-summary h3 {
      margin-block-start: 10px;
      padding: 10px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      color: #eee; }
    .cart-container .cart-summary .details > div {
      display: flex;
      justify-content: space-between;
      padding: 12px;
      border-bottom: 1px solid #bbb;
      align-items: center; }
      .cart-container .cart-summary .details > div h5 {
        font-size: 14px;
        text-transform: uppercase;
        color: #ddd;
        word-wrap: break-word;
        word-break: break-all;
        padding-inline-end: 14px; }
      .cart-container .cart-summary .details > div p {
        font-size: 14px;
        color: #ccc;
        text-align: center; }
        .cart-container .cart-summary .details > div p.total {
          font-size: 16px;
          color: #fff;
          font-weight: 600; }
    .cart-container .cart-summary form {
      margin-block-start: 35px; }
      .cart-container .cart-summary form button {
        display: block;
        margin-inline: auto !important;
        outline: none;
        border: #ff7b00;
        background: #ff7b00;
        color: #fff;
        text-transform: uppercase;
        padding: 6px 16px;
        cursor: pointer; }
        .cart-container .cart-summary form button:hover {
          transition: 0.3s ease-in-out;
          background: #ff7b0092; }

.page-counter-container {
  inline-size: 100%;
  padding: 1rem;
  border-top: solid 2px #ceddf8;
  margin: 30px 0px; }
  .page-counter-container strong {
    color: #78a9fd;
    margin: 3px; }
  .page-counter-container ul {
    float: right;
    display: flex;
    flex-wrap: wrap;
    list-style: none; }
    .page-counter-container ul li {
      padding: 6px 10px;
      border: 0.09rem solid #78a9fd;
      color: #ccc; }
      .page-counter-container ul li a {
        text-decoration: none;
        color: #78a9fd; }
      .page-counter-container ul li.active {
        background: #78a9fd;
        color: #fff; }
        .page-counter-container ul li.active a {
          color: #fff; }
